################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/maroonvillage-webui/obj
/maroonvillage-webui/bin/Debug/netcoreapp2.1
/.vs
